.wrapWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;

  @media (max-width: 701px) {
    align-content: center;
    justify-content: center;
  }

  .wrapperCart {
    display: flex;
    flex-direction: column;
    margin: 180px 0 20px 40px;

    @media (max-width: 647px) {
      margin: 200px 0 20px 40px;
    }

    .cartContainer {
      display: flex;
      align-items: center;
      margin-bottom: 20px;
      padding-bottom: 20px;
      border-bottom: 2px solid gray;

      .product {
        display: flex;
        align-items: center;
        max-width: 450px;
        overflow: hidden;
        gap: 20px;
        //margin: 10px 0 20px 40px;

        .imgBlock {
          align-self: center;
          width: 130px;

          img {
            width: 100%;
            height: 100%;
            display: inline-block;
            object-fit: contain;
            object-position: center;
          }

        }

        .descBlock {
          display: flex;
          flex-direction: column;
          flex: 0 1 200px;
          gap: 10px;
        }
      }

      .delAddProductBlock {
        display: flex;
        gap: 10px;
        align-items: center;

        button {
          padding: 5px 10px;
        }

        .quantity {
          align-self: center;
        }
      }
    }

    .total {
      font-weight: bold;
      text-decoration: underline;
      margin-left: 10px;
      margin-top: 80px;
    }
  }
  .formContainer {
    margin-right: 40px;
    margin-left: 40px;
    //width: 100%;
    //flex: 0 1 30%;
  }
}



.noProductText {
  margin: 250px auto;
  font-size: calc(22px + 12 * (100vw / 1840));
  font-style: italic;
}