.headerContainer {
  position: fixed;
  width: 100%;
  height: 60px;
  background-color: #e3d7d7;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  z-index: 5;

  @media (max-width: 647px) {
    justify-content: center;
    padding: 20px 0;
  }

  .headerMenu {
    display: flex;
    align-items: center;
    gap: 20px;

    :first-child{
      margin-left: 50px;
    }

    .menuTitle {
      cursor: pointer;
      font-size: 20px;
      font-family: 'Montserrat', sans-serif;
      position: relative;
      text-decoration: none;
      color: black;

      &:after {
        content: '';
        display: block;
        width: 0;
        height: 3px;
        background-color: cornflowerblue;
        position: absolute;
        bottom: -3px;
        left: 0;
        transition: width 0.3s ease-in-out;
      }

      &:hover:after {
        width: 100%;
      }
    }
  }

  .wrapBtn {
    font-size: 12px;
    padding-right: 15px;
    padding-left: 30px;

    @media (max-width: 647px) {
      margin-top: 10px;
    }

    .info {
      display: inline-block;
      border: 1px solid gray;
      border-radius: 50%;
      background-color: #eaefe0;
      padding: .4rem .7rem;
      font-size: 16px;
      font-weight: bold;
    }

    &:last-child {
      margin-right: 15px;
    }

    button {
      margin: 0 20px;
    }
  }
}