.orderWrapper {
  margin: 200px auto;
  width: 450px;

  @media (max-width: 736.9px) {
    margin: 40px auto;
  }

  .orderContainer {
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    border: 1px solid #c9c5c5;
    padding: 20px 30px;
    margin-right: 50px;

    @media (max-width: 736.9px) {
      margin: 40px auto;
    }

    .label {
      color: blue;
    }

    input {
      height: 36px;

      &:focus {
        outline-color: blue;
      }
    }

    button {
      height: 56px;
      margin-top: 10px;
    }
  }
}

